body > *, #theme-light:checked ~ * {
	--bg-selected: hsl(300 50% 70%);
	--color-selected: hsl(0 0% 0%);
	--bg: hsl(0 0% 98%);
	--color: hsl(0 0% 0%);
	--color-dim: hsl(0 0% 30%);
	--color-h2: hsl(0 0% 20%);
	--bg-header: hsl(300 100% 98%);
	--border-header: hsl(300 100% 88%);
	--bg-nav-button: hsl(0 0% 100%);
	--bg-nav-button-hover: var(--bg-header);
	--border-nav-button: var(--border-header);
	--border-nav-button-hover: var(--bg-header);
	--color-info: hsl(0 0% 50%);
	--color-info-hover: hsl(300 100% 34%);
	--outline-info-details: hsl(0 0% 60%);
	--color-info-details: hsl(0 0% 0%);
	--color-anchor: LinkText;
	--color-anchor-visited: VisitedText;
	--color-anchor-active: ActiveText;
	--border-keyboard: hsl(0 0% 60%);
	--bg-keyboard: hsl(0 0% 86%);
	--color-keyboard: hsl(0 0% 0%);
}

body > * {
	--bg-dark: hsl(0 0% 15%);
	--color-dark: hsl(0 0% 85%);
	--color-dim-dark: hsl(0, 0%, 66%);
	--color-h2-dark: hsl(0 0% 72%);
	--bg-header-dark: hsl(300, 30%, 23%);
	--border-header-dark: hsl(300 40% 40%);
	--bg-nav-button-dark: hsl(0 0% 15%);
	--color-info-dark: hsl(0 0% 50%);
	--color-info-hover-dark: hsl(300 100% 34%);
	--outline-info-details-dark: hsl(0 0% 60%);
	--color-info-details-dark: hsl(0 0% 0%);
	--color-anchor-dark: hsl(240, 100%, 70%);
	--color-anchor-visited-dark: hsl(271, 68%, 70%);
	--color-anchor-active-dark: ActiveText;
}

@media (prefers-color-scheme: dark) {
	body > * {
		--bg: var(--bg-dark);
		--color: var(--color-dark);
		--color-dim: var(--color-dim-dark);
		--color-h2: var(--color-h2-dark);
		--bg-header: var(--bg-header-dark);
		--border-header: var(--border-header-dark);
		--bg-nav-button: var(--bg-nav-button-dark);
		--color-info: var(--color-info-dark);
		--color-info-hover: var(--color-info-hover-dark);
		--outline-info-details: var(--outline-info-details-dark);
		--color-info-details: var(--color-info-details-dark);
		--color-anchor: var(--color-anchor-dark);
		--color-anchor-visited: var(--color-anchor-visited-dark);
		--color-anchor-active: var(--color-anchor-active-dark);
	}
}

#theme-dark:checked ~ * {
	--bg: var(--bg-dark);
	--color: var(--color-dark);
	--color-dim: var(--color-dim-dark);
	--color-h2: var(--color-h2-dark);
	--bg-header: var(--bg-header-dark);
	--border-header: var(--border-header-dark);
	--bg-nav-button: var(--bg-nav-button-dark);
	--color-info: var(--color-info-dark);
	--color-info-hover: var(--color-info-hover-dark);
	--outline-info-details: var(--outline-info-details-dark);
	--color-info-details: var(--color-info-details-dark);
	--color-anchor: var(--color-anchor-dark);
	--color-anchor-visited: var(--color-anchor-visited-dark);
	--color-anchor-active: var(--color-anchor-active-dark);
}

.theme-select {
	display: none;
}

input[name="theme"]:is(:focus, :active) ~ * .theme-select {
	display: block;
}

#theme-light:checked ~ * [for="theme-light"],
#theme-dark:checked ~ * [for="theme-dark"],
#theme:checked ~ * [for="theme"] {
	background: var(--bg-selected);
	color: var(--color-selected);
}

#theme:focus ~ * [for="theme"],
#theme-light:focus ~ * [for="theme-light"],
#theme-dark:focus ~ * [for="theme-dark"] {
	outline: 2px solid var(--bg-selected);
	outline-offset: 1px;
}

#theme:not(:target), #theme:not(:target) ~ :is(#theme-light, #theme-dark) {
	display: none;
}

#background {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
	background: var(--bg);
}

html {
	font-family: Georgia, serif;
}

body {
	margin: 0;
}

body > input {
	position: fixed;
}

header, article {
	color: var(--color);
}

header > *, article > * {
	margin-inline: 10px;
}

#header {
	display: flex;
	overflow-y: visible; /* Ensure that dropdowns can drop below the header. */
	background: var(--bg-header);
	border-bottom: 2px solid var(--border-header);
	position: sticky;
	top: 0;
	z-index: 1;
}

#header .brand {
	display: flex;
}

#header .controls {
	display: flex;
	flex-grow: 1;
	align-items: center;
}

#header nav {
	display: flex;
	position: relative;
	flex-grow: 1;
	margin-inline: 40px;
	gap: 20px;
	align-items: center;
}

#header nav a {
	padding: 14px;
	white-space: nowrap;
	background: var(--bg-nav-button);
	border: 2px solid var(--border-header);
	border-radius: 12px;
	transition: background-color 100ms, border-color 100ms;
}

#header nav a[href^="#"] {
	padding: 8px;
	border-radius: 0;
}

#header nav a:hover {
	background: var(--border-header);
}

#header nav a:active {
	background: var(--bg-header);
	border-color: var(--bg-header);
}

#header nav a.hidden {
	position: absolute;
}

#header nav a.hidden:not(:focus) {
	opacity: 0;
	pointer-events: none;
}

#header nav div {
	position: relative;
}

#header nav fieldset {
	position: absolute;
	width: 100%;
	top: 140%;
	left: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 2px solid var(--border-nav-button);
	border-top: none;
	background: var(--bg);
}

#header nav fieldset legend {
	display: none;
}

#header nav fieldset label {
	display: block;
	margin-block: 2px;
	margin-inline: 1px;
}

#header .logo-icon {
	width: 38px;
	margin-right: 10px;
	padding-bottom: 10px;
}

.logo-title {
	margin-block: 0.4em;
	white-space: nowrap;
	font-weight: normal;
}

/* Alternate stacked header layout for narrow screens */
@media (max-width: 700px) {
	#header {
		flex-direction: column;
	}

	#header > * {
		/*overflow-x: auto; Now the header is a stack of items, each child should absorb its own overflow*/
	}

	#header nav {
		margin-inline: 0;
		padding-block: 4px;
		gap: 10px;
		/*overflow-x: auto;*/
	}

	#header nav a {
		padding: 9px;
	}

	#header .logo-icon {
		padding-bottom: 0;
	}

	#header .logo-title {
		margin-block-start: 0.5em;
		margin-block-end: 0.2em;
		font-size: 24px;
	}
}

h1 {
	color: var(--color);
}

h2 {
	margin-block: 1.4em;
	font-weight: normal;
	text-decoration: 2px solid underline;
	color: var(--color-h2);
}

input.info {
	display: inline-block;
	position: relative;
	margin-inline: 0.3em;
	width: 1.2em;
	height: 1.2em;
	border: none;
	border-radius: 1em;
	text-align: center;
	font-weight: bold;
	background: none;
	color: var(--color-info);
	appearance: none; /* Remove checkbox appearance for custom styling - may only work in newest browsers */
}

input.info:not(:focus-visible) {
	outline: 1px solid;
}

input.info:hover {
	color: var(--color-info-hover);
}

input.info::before {
	content: "?";
}

input.info:checked::after {
	content: "";
	position: absolute;
	border-bottom: 0.8em solid var(--outline-info-details);
	border-left: 0.8em solid transparent;
	border-right: 0.8em solid transparent;
	left: -0.2em;
	top: 1.2em;
}

.info.details {
	display: none;
	float: right;
	box-sizing: border-box;
	width: 100%;
	padding: 0.8em;
	margin-block: 0.5em;
	background: Canvas;
	outline: 1px solid var(--outline-info-details);
	color: var(--color-info-details)
}

input.info:checked + .info.details {
	display: block;
}

a {
	color: var(--color-anchor);
}

a:visited {
	color: var(--color-anchor-visited);
}

a:active {
	color: var(--color-anchor-active);
}

kbd {
	padding-inline: 3px;
	padding-block: 1px;
	border: 1px solid var(--border-keyboard);
	border-radius: 6px;
	background: var(--bg-keyboard);
	box-shadow: 0 2px 0 0 hsl(0 0% 60%);
	color: var(--color-keyboard);
}
