.review-list {
	display: flex;
	overflow-x: auto;
	padding-block: 6px; /* Stop shadows inside from being clipped */
	padding-inline: 6px;
	margin-inline: 0; /* Display up to the page edges */
}

.review-list li {
	margin-inline: 14px;
	width: 300px;
	border: 2px solid hsl(0 0% 64%);
	border-radius: 32px;
	flex-shrink: 0;
}

.review-list li:hover {
	box-shadow: var(--shadow);
}

.review-list li::marker {
	color: transparent;
}

.review-list blockquote {
	margin: 10px;
}

.review-list li:not(:hover) blockquote {
	color: var(--color-dim);
}

.review-list blockquote p::before {
	content: "\201C";
}

.review-list blockquote p::after {
	content: "\201D";
}

.review-list mark {
	background: none;
	text-decoration: 2px dotted hsl(300 100% 50%) underline;
	color: var(--color);
}

.faq-list h3 {
	font-weight: normal;
	font-style: italic;
}
