:root {
	font-family: sans-serif;
}

body {
	display: flex;
}

.flex-space {
	flex: 1;
}

body > form {
	width: 40em;
}

#save, .preference-row :disabled {
	display: none;
}

.highlight-colors {
	display: flex;
	justify-content: flex-end;
}

.highlight-colors > * {
	background: hsl(var(--hue) 100% 50%);
	height: 16px;
	aspect-ratio: 1;
	border: 1px solid hsl(0 0% 0% / 0.5);
}
